body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}
.container {
  max-width: 1132px;
  margin: 0 auto;
}
