section.blog
    .container
        .blog-main
            h2.blog-heading Our Regular Updated Blog Posts
            p.blog-text tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque. 
            .blog-list 
                +blogCard("./images/card-1.png", "SEO tips and tricks for   new", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!, a porititar ju-to ode  id oros. Proin lloborti*")
                +blogCard("./images/card-2.png", "A Guide to Google SEO", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* ")
                +blogCard("./images/card-3.png", "Best Practices SEO Content", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* ")

