footer.footer 
    .container 
        .footer-list 
            .footer-items 
                img(srcset= "./images/logo-footer.png", alt="")
                p.footer-text Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc. 
                .footer-items__action 
                    img(src="./images/Facebook.png", alt="")
                    img(src="./images/Twitter.png", alt="")
                    img(src="./images/Instagram.png", alt="")
            .footer-items
                p.footer-title Services
                span.footer-text Email Marketing Social 
                span.footer-text Media Marketing Search 
                span.footer-text Engine Optimization 
                span.footer-text Prnelnct Devnionmnni 
                span.footer-text Web Development 
            .footer-items
                p.footer-title Support
                span.footer-text Sizicik. Community 
                span.footer-text Support Documents 
                span.footer-text Help:le-Lk API Documents
                span.footer-text 5nvin,es Witus 
                span.footer-text Email Contort 
            .footer-items
                p.footer-title Contact Us
                span.footer-text suppariaringrozom 
                span.footer-text (41) 84?-5E2-451 
                span.footer-text North Cry, 547 Link Road. 
        p.footer-copy All Right Reserved by Us! Copyright 2021 

