header.header 
				.container 
					.header-main 
						img(srcset="./images/header-logo.png" class="header-logo")
						include ./menu
						<i class="fa-solid fa-bars menu-toggle"></i>
						<i class="fa-solid fa-x menu-close"></i>
						div.menu-bg
