section.hero
	.container 
		.hero-list 
			.hero-content 
				p.hero-title AWARD WINNING COMPANY
				h1.hero-heading We Are The Best Digital Markeing
				p.hero-text You need to get positive results when you spend hard earned revenue and time on any marketing effort. Great returns on marketing and promotions. 
				.hero-action 
					a.button.button-primary.hero-button Get Started
					<i class="fa-solid fa-play hero-icon"></i>
					span.hero-video Watch Video
			.hero-image
				img(srcset="./images/hero-bg.png" class="hero-image")