section.logo 
	.container 
		.logo-list 
			.logo-items
				img(srcset="./images/brand-google.svg" class="logo-images")
			.logo-items
				img(srcset="./images/brand-google.svg" class="logo-images")
			.logo-items
				img(srcset="./images/brand-google.svg" class="logo-images")
			.logo-items
				img(srcset="./images/brand-google.svg" class="logo-images")
			.logo-items
				img(srcset="./images/brand-google.svg" class="logo-images")