section.newsletter 
    .container 
        .newsletter-list
            .newsletter-content 
                h2.newsletter-heading Sign up to Our Newsletter
                p.newsletter-text You need to get positive results when you spend hard earned revenue and time.
            .newsletter-email
                .newsletter-form 
                    input(type="text" placeholder="Email..." class="newsletter-input")
                a.button.button-primary.newsletter-button(href="") Subscribe 