section.review
    .container 
        .review-list 
            .review-img 
                img(srcset = "./images/review-img.png")
            .review-content
                p.review-title TESTMONIALS
                h2.review-heading Client’s Fedback
                p.review-text Why I say okl chap that is. sprffing aff his rut car blimey valmor gooxo blaka krcus up bobby shed a-50 William cock Richard. Bloke fanny around cheseci 
                .review-action
                    <i class="fa-solid fa-check review-action__icon"></i> 
                    span.review-action__number 450+
                    span.review-action__text Client’s Feedback
                a.button.button-primary.review-button Get In Touch