section.who
	.container 
		.who-main 
			.who-list
				.who-content 
					p.who-title WHO WE ARE
					h2.who-heading Top #1 Marketing Agency in the World
					p.who-text Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis. 
					a.who-button.button.button-primary Get In Touch
				.who-images
					img(srcset = "./images/features-who.png")